@import url('https://fonts.googleapis.com/css2?family=Bevan&family=Caveat:wght@400;700&family=Muli&display=swap');

body {
  font-family: 'Muli', sans-serif;
}

h2 {
  font-size: 2.5em;
  font-family: 'Caveat', cursive;
  color: #FFFFFF;
}

header {
  background-color: #2962FF;
  margin-bottom: 45px;
}

.logo {
  width: 375px;
  padding: 15px 50px;
}

.fa-github {
  color: #FFFFFF;
  font-size: 3em;
  margin: 30px 50px 0px 0px;
  transition: ease-in 200ms;
}

.fa-github:hover {
  color: rgba(255, 255, 255, 0.7);
}

.bear-form h2 {
  padding: 15px 0px 25px 0px;
}

.bear-form {
  color: #FFFFFF;
  background-color: #2962FF;
  border: 2px solid #2962FF;
  border-radius: 3px;
  padding: 15px;
  text-align: center;
}

.form-control {
  padding-right: 100px;
  font-size: 1.2em;
}

.bear-form button {
  background-color: #FFFFFF;
  color: #2962FF;
  font-size: 25px;
  padding: 2px 42px 2px 40px;
  margin-bottom: 20px;
}

.bear-form button:hover {
  background-color: rgba(255, 255, 255, 0.85);
  color: #2962FF;
}

.form-input {
  display: flex;
  justify-content: center;
}

.form-group {
  padding-bottom: 15px;
}

.alert {
  font-size: 1em;
  font-family: Helvetica;
}

.empty-river {
  text-align: center;
  color: rgba(255, 255, 255, 0.534);
  background-color: #2962FF;
  border: 2px solid #2962FF;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 50px;
  font-size: 5em;
  /* Temporary: */
  margin-bottom: 50px;
}

.river-header {
  text-align: center;
  background-color: #001A63;
  padding: 25px;
  margin-top: 50px;
  border: 2px solid #001A63;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.river-section {
  text-align: center;
  color: #2962FF;
  background-color: #2962FF;
  border: 2px solid #2962FF;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 15px;
  margin-bottom: 50px;
}

.card {
  margin: 15px;
}

.card-body {
  padding: 5px 0px 0px 0px;
}

.card-title {
  font-size: 2em;
  margin-top: 10px;
}

.line {
  background-color: #2962FF;
  padding: 1px;
  margin: 0px 10px 5px 10px;
}

table {
  color: #FFFFFF;
}

.catch-button,
.attempt-button {
  border: none;
  background-color: #2962FF;
  padding: 5px 10px;
  margin: 0px 10px;
  color: #FFFFFF;
  font-size: 1em !important;
  border: 2px solid #2962FF;
  border-radius: .2em;
  transition: ease-in 200ms;
}

.catch-button:hover,
.attempt-button:hover {
  background-color: #001A63;
  color: #FFFFFF;
}

.ts-bear {
  color: #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
  border-radius: 3px;
  padding: 0px 0px 20px 0px;
  margin-bottom: 10px;
}

.ts-title {
  color: #FFFFFF;
  text-decoration: underline;
  margin-top: 10px;;
}

.fish-total span {
  font-size: 2em;
  padding: 0px 10px 10px 10px;
  font-family: 'Bevan', cursive;
}
